*.o
tests.c
Trabajo escrito/Puente.synctex.gz
Trabajo escrito/Puente.run.xml
Trabajo escrito/Puente.log
Trabajo escrito/Puente.blg
Trabajo escrito/Puente.bcf
Trabajo escrito/Puente.bbl
Trabajo escrito/Puente.aux
main
